/********** @VARIABLES *********/

$brand: yellow;
$ultra-light: rgb(245,245,245);
$light: #f1f1f1;
$dark: #222222;
$gray: #555555;
$error: #ff4a4a;

$yellow: #fff4bb;
$yellow-dark: darken(#F2FF00,1%);;
$sky: #cbebf4;
$teal: #bce8d9;

$nav-height: 50px;
$mobile-margins: 15px;

$transitions: .25s;